@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300 bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply w-2 bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-light-primary/50 dark:bg-dark-primary/50;
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #374151 inset !important;
  -webkit-text-fill-color: #ffffff;
  caret-color: #ffffff ;
}